@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}
.mon {
  font-family: "Montaga", serif;
}

.scrollbar-hide {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.animate-scroll {
  display: flex;
  animation: scroll 10s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}